{% extends 'base.html' %}

{% block content %}

{% load cart %}
{% load custom_filter %}
<style>
    .addtocart{
      background-color: rgb(13, 29, 44);
    }
   
  </style>
<!-- body -->
<div class="container-fluid mt-3">
	<div class="row">
		<h3>Welcome to Collaborative Filtering based Recommendations!!</h3><br />
		<!-- {% if favorite_category == None %}
		<br /><div class="col-lg-3 mx-auto"><h5 style="float:center">TOP 5 MOST POPULAR PRODUCTS</h5></div> 
		{% else %}
		<p>User's Favorite Category {{ favorite_category }}</p>
		{% endif %}
		 -->

		<!-- all products -->
		<div id='products' class="col-lg-9 mx-auto">
			<div class="row mx-auto">
				{% for product in products %}
				<div class="card mx-auto mb-3" id={{product.id}} style="width: 18rem;">
					<img class="card-img-top" src="{{product.image.url}}" alt="Card image cap">
					<div class="card-body">
						<p class="card-title">{{product.name}}</p>
						<p class="card-text"><b>{{product.price|currency}}</b></p>
						<!-- {{product | is_in_cart:request.session.cart }} -->
					</div>


				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>



{% endblock %}